.background {
  background: url("../../../public/bubbles-mob.png") no-repeat top 108px center,
    url("../../../public/bottle-mob.png") no-repeat top 450px center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .background {
    background: url("../../../public/bubbles-tablet.png") no-repeat top right,
      url("../../../public/bottle-tablet.png") no-repeat top 116px left 112px;
    height: 100vh;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background: url("../../../public/bubbles-desk.png") no-repeat top 52px
        center,
      url("../../../public/bottle-desk.png") no-repeat top 80px left -51px;
    height: 100vh;
  }
}
