.contact {
  width: 400px;
  padding: 15px 20px;
  border: 1px solid #6c83db;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  background-color: #d5cfa8;
  font-size: 30px;
}

.deleteBtn {
  background-color: #f7c6c7;
}

.buttonIcon {
  width: 100%;
  height: 100%;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.btnWrapper {
  display: flex;
  gap: 5px;
}

.icon {
  color: #6c83db;
}

@media screen and (max-width: 400px) {
  .contact {
    width: 300px;
  }
}
