.pageWrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../home-bg.png");
  background-repeat: no-repeat;
  background-position: bottom 100px left 450px;
  background-size: 850px 540px;
}

.title {
  color: aliceblue;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 80px;
}

.titleLogo {
  font-size: 60px;
  font-weight: bold;
  color: #357abd;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.descr {
  color: #ffffff;
  max-width: 500px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 200px;
}

.list {
  color: #ffffff;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.list li {
  padding: 20px;
  width: calc(100% / 4 - 20px);
  border: 1px solid #357abd;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
}

.itemIcon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.listaccent {
  color: #357abd;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
  .container {
    background-position: bottom 150px left 350px;
  }
}

@media screen and (max-width: 815px) {
  .container {
    background-image: url("../../../home-bg-dark.png");
    background-position: bottom 350px center;
    background-size: 850px 540px;
  }
  .list {
    flex-direction: column;
    align-items: center;
  }
  .list li {
    width: 280px;
  }
  .title {
    margin-bottom: 40px;
  }
  .descr {
    margin-bottom: 100px;
  }
}
